<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          <b>KSPEN 2021 Secretariat</b><br>
          The 20th Annual Congress of Korean Society for Parenteral and Enternal Nutrition <br>
          AGAIN, A Great Ambition 
          and Inspiration to Nutrition 2021<br>
          Tel. +82-2-6959-5333&nbsp;&nbsp;&nbsp;Fax. +82-70-8677-6333<br>
          E-mail. kspen@thewithin.co.kr&nbsp;&nbsp;&nbsp;Web. http://www.kspen.org/abstract/2021_sympo
        </p>
      </div>
    </div>
  </div>
</footer>
