<div class="agenda-list">
  <div class="agenda-list-item" *ngIf="programLive && speakerId">
    <p class="title">
      LIVE
    </p>
    <ng-container *ngFor="let agenda of programLive">
      <div role="button" class="item-live" *ngIf="!(speakerId==='5fb83b885a7ece00113026a6' && (agenda.id === '5fa8e4a85bc6d0001141ebef' || agenda.id === '5fb721c5c46838001198bd1e'))
          && !(speakerId==='5fbb82d516151c0011d4117f' && (agenda.id === '5fb6572c5a7ece00113025dc'))
          && !(speakerId==='5fbb66b65a7ece0011302838' && (agenda.id === '5fa8e8e4c8a27b001241f321'))
          && !(speakerId==='5fbb08cbc46838001198be8a' && (agenda.id === '5fb64645c46838001198bcd7'))
          && !(speakerId==='5fbb54595a7ece0011302809' && (agenda.id === '5fb71d65c46838001198bd12'))
          && !(speakerId==='5fbafbbd5a7ece001130273c' && (agenda.id === '5fb64007c46838001198bcce' || agenda.id === '5fb653865a7ece00113025d1'))
          && !(speakerId==='5fbb01ae5a7ece0011302748' && (agenda.id === '5fb721c5c46838001198bd1e'))
          " (click)="goLive(agenda)">
        <span class="item-sub-title">{{agenda.category?.categoryName}} / {{agenda.room?.roomName}} /
          {{agenda.track?.trackName}}</span>
        <span class="item-time">{{agenda.date.date | date:('yyyy.MM.dd (EEE.)')}}</span>
        <p class="item-title">{{agenda.isSession?agenda.subTitle:agenda.title}}</p>
        <p class="ellipsis line" [innerHtml]="agenda.description">
        </p>
      </div>
    </ng-container>
  </div>
</div>
