.timetable-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  // max-height: 1490px;
  // min-height: 100%;
  background-size: contain;
  background-position: center 131px;
  background-repeat: no-repeat;
}

.korea-time-wrapper {
  width: 100%;

  max-width: 977px;
  margin: 0 auto;

  .korea-time {
    text-align: center;
    position: relative;
    color: var(--gray10);
    font-size: 1.4rem;

    img {
      width: 45px;
      margin-right: 12px;
    }

    .korea-image {
      position: absolute;
      width: 45px;
      top: -4px;
      left: -26px;
    }
  }
}

.timetable-nav {
  font-size: 1.33rem;

  .timetable-title {
    height: 64px;
    line-height: 64px;
    background: var(--gray6);
    text-align: center;
  }

  .timetable-list {
    margin-bottom: 48px;
    // border: 1px solid var(--gray22);
  }

  .content-inner {
    display: flex;
    justify-content: center;
    max-width: 780px;
  }

  .nav-item {
    flex: 0 0 40%;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    height: 64px;
    background: var(--white);
    border: 1px solid var(--gray22);

    font-size: 1.4rem;

    &>a {
      height: 100%;
      display: block;
      // font-size: 1.33rem;
      color: var(--white);
      line-height: 64px;
      text-align: center;
      text-decoration: none;
      background: rgb(250, 171, 137);

      &.active {
        color: var(--white);
        // background: var(--navy);
        background: rgb(247, 91, 48);
      }
    }
  }
}

.timetable {
  .timetable-label {
    margin-bottom: 8px;
    color: var(--red);
    font-size: 1.2rem;
  }

  table {
    max-width: 977px;
    // max-width: 800px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;

    th {
      font-weight: 500;
    }

    tr {
      .date {
        text-align: left;
      }
    }

    th {
      padding: 7px 5px 9px;
      position: relative;
      color: var(--white);
      // background-color: var(--darkBlue2);
      // background-color: rgb(57, 69, 132); // 기존
      background-color: rgb(71, 71, 71);
      font-size: 1.4rem;
      font-weight: 700;
      text-align: center;
      border: 1px solid #ccc;

      &.backslash {
        width: 40px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="100%" y2="100%" stroke="gray" /></svg>');

        & span {
          display: block;

          &:first-child {
            padding-left: 40px;
          }

          &:last-child {
            margin-left: -32px;
          }
        }
      }

      .channel-btn {
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 999;
        outline: none;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          transition: all 0.5s;
        }
      }

    }

    td {
      b {
        font-weight: 700;
      }

      height: 50px;
      padding: 7px 5px 9px;
      // color: var(--gray17); 기존

      font-size: 1.4rem;

      // font-weight: 400; // 기존
      font-weight: 500;

      line-height: 1.8;
      text-align: center;
      background: var(--white);

      // border: 1px solid #ccc; // 기존
      border: 1px solid var(--black);

      &.break {
        color: var(--darkBlue3);
        font-style: italic;
      }

      &.time {
        font-size: 1.2rem;
        // background: var(--gray29);
      }

      &:nth-child(1) {
        text-align: center;
      }

      &:nth-child(2) {
        padding-left: 8px;
      }

      &:nth-child(3) {
        padding-left: 8px;
        text-align: center;
      }

      &.kspen-plenary {
        background: rgb(251, 229, 228);
      }

      &.kspen-op {
        background: rgb(253,248,230);
      }

      &.kspen-education {
        background: rgb(226,241,238);
      }

      &.kspen-luncheon {
        background: rgb(215,202,218);
      }

      &.kspen-general {
        background: rgb(254,219,156);
      }

      &.kspen-presidential {
        background: rgb(188,225,238);
      }

      &.kspen-special {
        background: rgb(221,222,220);
      }

      &.kspen-joint {
        background: rgb(220,240,246);
      }

      &.kspen-symposium {
        background: rgb(246,196,195);
      }



    }
  }

  .description {
    max-width: 977px;
    width: 100%;
    margin: 0 auto;
  }
}

@media(max-width: 1600px) {
  .timetable-wrapper {
    background-size: cover;
  }
}

@media(max-width: 767px) {
  .timetable {
    .timetable-label {
      margin-bottom: 4px;
      font-size: 1rem;
    }

    table {
      th {
        // padding: 8px 5px 9px;
        font-size: 1rem;
      }

      td {
        font-size: 1rem;
      }
    }
  }

  .content-inner {
    width: 80%;
  }
}

@media(max-width: 575px) {

  .timetable-nav {
    // font-size: 1rem;
    // letter-spacing: -0.5px;

    .timetable-title {
      height: 40px;
      line-height: 40px;
    }

    .nav-item {
      &>a {
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .timetable {
    table {

      th,
      td:first-child {
        max-width: 52px;
        font-weight: 500;
        // background: var(--gray4);
      }

      th {
        padding: 4px 2px;
        font-size: 0.6rem;

        &.backslash {

          & span {
            display: block;

            &:first-child {
              padding-left: 21px;
            }

            &:last-child {
              margin-left: -24px;
            }
          }
        }
      }

      td {
        padding: 4px 2px;
        font-size: 0.6rem;
      }
    }
  }
}
