<div class="timetable-wrapper">
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime | amDateFormat: 'yyyy.MM.DD HH:mm:ss' }}
    </div>
  </div>
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021.6.11 (Fri)</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021.6.12 (Sat)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:45%">
        <col style="width:45%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Room 1
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)">
            </div>
          </th>
          <th #th2>
            Room 2
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:00</td>
          <td class="time">08:40</td>
          <td colspan="2"><b>Information Time</b></td>
        </tr>
        <tr>
          <td class="time">08:40</td>
          <td class="time">09:00</td>
          <td colspan="2"><b>Opening ceremony</b></td>
        </tr>

        <tr>
          <td class="time">09:00</td>
          <td class="time">09:40</td>
          <td colspan="2" class="kspen-plenary"><b>Plenary Lecture I</b>
            <br>Supplemental parenteral nutrition to optimise outcome</td>
        </tr>



        <tr>
          <td class="time">09:45</td>
          <td class="time">10:45</td>
          <td class="kspen-op" colspan="2"><b>Oral Presentations I</b></td>
        </tr>

        <tr>
          <td class="time">10:50</td>
          <td class="time">11:50</td>
          <td class="kspen-education"><b>Education I</b><br>Nutrition in liver disease</td>
          <td class="kspen-education"><b>Education II</b><br>Fluids, electrolytes and acid-base balance</td>
        </tr>

        <tr>
          <td class="time">11:55</td>
          <td class="time">12:55</td>
          <td colspan="2" class="kspen-luncheon"><b>Luncheon I</b></td>
        </tr>

        <tr>
          <td class="time">12:55</td>
          <td class="time">13:55</td>
          <td colspan="2" class="kspen-special"><b>Special Session</b><br>COVID-19 and clinical nutrition</td>
        </tr>

        <tr>
          <td class="time">14:00</td>
          <td class="time">15:00</td>
          <td colspan="2" class="kspen-special"><b>Policy Session (Korean)</b></td>
        </tr>

        <tr>
          <td class="time">15:05</td>
          <td class="time">16:05</td>
          <td class="kspen-joint">
            <b>Joint Session:
              <span style="color:var(--red);">KSPGHAN-KSPEN</span></b><br>
            Nutritional strategies for optimal growth<br>and health of children
          </td>
          <td class="kspen-joint"><b>Joint Session:
              <span style="color:var(--red);">KSSMN-KSPEN</span></b><br>
            Important issues to be overlooked in ERAS
          </td>
        </tr>

        <tr>
          <td class="time">16:10</td>
          <td class="time">17:10</td>
          <td colspan="2" class="kspen-symposium"><b>Symposium I</b><br>
            Manufacturing and safety in EN and PN products
            / Research in clinical nutrition</td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------------DAY2------------------------------- -->

    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:45%">
        <col style="width:45%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Room 1
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 0)">
            </div>
          </th>
          <th #th2>
            Room 2
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:00</td>
          <td class="time">09:00</td>
          <td colspan="2"><b>Information Time</b></td>
        </tr>
        <tr>
          <td class="time">09:00</td>
          <td class="time">09:40</td>
          <td colspan="2" class="kspen-plenary"><b>Plenary Lecture II</b><br>
            Optimal timing and dosing of proteins in critical illness</td>
        </tr>

        <tr>
          <td class="time">09:45</td>
          <td class="time">10:45</td>
          <td class="kspen-op" colspan="2"><b>Oral Presentations II</b></td>
        </tr>

        <tr>
          <td class="time">10:50</td>
          <td class="time">12:10</td>
          <td class="kspen-education"><b>Education III</b><br>
            Nutrition assessment and techniques</td>

          <td class="kspen-education">
            <b>Education IV</b><br>
            Nutrition in kidney disease
          </td>
        </tr>

        <tr>
          <td class="time">12:15</td>
          <td class="time">13:00</td>
          <td colspan="2" class="kspen-luncheon"><b>Luncheon II</b></td>
        </tr>

        <tr>
          <td class="time">13:00</td>
          <td class="time">13:45</td>
          <td colspan="2" class="kspen-special"><b>General Assembly</b></td>
        </tr>

        <tr>
          <td class="time">13:45</td>
          <td class="time">14:15</td>
          <td colspan="2" class="kspen-special"><b>Presidential Lecture</b></td>
        </tr>

        <tr>
          <td class="time">14:20</td>
          <td class="time">15:20</td>
          <td class="kspen-symposium"><b>Symposium II</b><br>
            Lipid and protein supply</td>
          <td class="kspen-symposium"><b>Symposium III</b><br>
            Trace elements & vitamins</td>
        </tr>

        <tr>
          <td class="time">15:25</td>
          <td class="time">16:25</td>
          <td class="kspen-joint">
            <b>Joint Session:
              <span style="color:var(--red);">KSHP-KSPEN</span></b><br>
            Safety issues in PN
          </td>
          <td class="kspen-symposium">
            <b>Symposium Ⅳ (Korean)</b><br>
            Quality controls in
            NST activities
          </td>
        </tr>

        <tr>
          <td class="time">16:30</td>
          <td class="time">17:30</td>
          <td colspan="2" class="kspen-symposium"><b>Symposium Ⅴ</b><br>
            Complications induced by nutrition therapy</td>
        </tr>

        <tr>
          <td class="time">17:35</td>
          <td class="time">17:55</td>
          <td colspan="2" class="kspen-special"><b>Summary of Issues</b></td>
        </tr>

        <tr>
          <td class="time">17:55</td>
          <td class="time">18:05</td>
          <td colspan="2" class="kspen-ceremony"><b>Closing Remarks</b></td>
        </tr>

      </tbody>
    </table>

    <div class="description">
      <p>* KSPGHAN = The Korean Society of Pediatric Gastroenterology, Hepatology and Nutrition<br>
        * KSSMN = The Korean Society of Surgical Metabolism and Nutrition<br>
        * KSHP = The Korean Society of Health-System Pharmacists</p>
    </div>
  </div>
</div>
