<div class="content-body">
  <div class="banner-wrapper">
    <div class="m-banner-image" [style.backgroundImage]="'url(assets/img/login-banner.png)'"></div>
    <img [src]="'assets/img/login-banner.png'" role="img" alt="banner image">
  </div>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="login-title">
        <div>
          Welcome to KSPEN2021
        </div>
      </div>
      <div class="login-form">
        <div class="input-wrapper">
          <label for="email">E-mail</label>
          <input name="email" type="text" id="email" [(ngModel)]="member.email" (keyup.enter)="login()" />
        </div>
        <div class="input-wrapper">
          <label for="password">Password</label>
          <input name="password" type="password" id="password" [(ngModel)]="member.password" (keyup.enter)="login()" />
        </div>
        <div class="login-bottom">
          <div class="password-error">
            <span>{{passwordError}}</span>
          </div>
        </div>
        <div class="submit-button">
          <button (click)="login()">LOGIN</button>
        </div>
      </div>
    </div>
  </div>
</div>

<button #policyAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#policyAlert">
  Policy modal open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="policyAlert" data-backdrop="static" role="dialog" aria-labelledby="policyAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="mb-2">
            내용
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#policyAlert"
          (click)="goToMain()">
          I Agree
        </button>
      </div>
    </div>
  </div>
</div>
