/* shine 애니메이션 */
@keyframes shineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.0) 45%,
        rgba(255, 255, 255, 0.5) 48%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 52%,
        rgba(255, 255, 255, 0.0) 57%,
        rgba(255, 255, 255, 0.0) 100%);
    background-position: -300px -300px;
    background-size: 600px 600px
  }

  to {
    background-repeat: no-repeat;
    background-position: 300px 300px;
  }
}

/* 경고메세지 아이콘 바운스 */
@keyframes movement {
  from {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  to {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

/* 반전 효과 */
@keyframes reverse_rotation {
  0% {
    transform: rotateY(0deg)
  }

  15% {
    transform: rotateY(180deg)
  }

  30% {
    transform: rotateY(360deg)
  }

  100% {
    transform: rotateY(360deg)
  }
}

/* twinkle */
@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* slide x축 */
@keyframes slideX {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.title-wrapper {
  h2 {
    &.vod {
      margin-bottom: 10px;
      color: var(--gray14);
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      border-radius: 7px;
      background: var(--yellow1);
      line-height: 1;
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.icon-warning {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-right: 8px;
  background-image: url(/assets/img/icon-warning.png);
  background-size: contain;
  vertical-align: middle;
  animation: twinkle 1s infinite;
  -webkit-animation: twinkle 1s infinite;
  //animation: movement 1s ease 0s infinite alternate;
  //-webkit-animation: movement 1s ease 0s infinite alternate;
}

.slideX {
  animation: slideX 1s ease-in infinite;
  -webkit-animation: slideX 1s ease-in infinite;
}

@media screen and (max-width : 767px) {
  .title-wrapper .vod {
    .vod-title-label {
      width: 100%;
      margin-top: 8px;
      margin-left: 0;
      text-align: center;
    }
  }
}

.category {
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid var(--gray5);
  background: var(--white);

  .category-title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
  }

  .vod-group {
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid var(--gray5);
    background: var(--white);
  }

  .vod {
    margin-bottom: 8px;

    .vod-info {
      &>div {
        margin-bottom: 8px;
      }

      .category {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .title {
        font-size: 1.4rem;
        color: var(--gray14);
      }

      .title-click {
        cursor: pointer;
      }

      .description {
        font-size: 1.2rem;
        color: var(--gray14);
        line-height: 1.5rem;
      }
    }

    .speakers {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;

      .icon-camera {
        display: flex;
        align-self: center;
      }

      .speaker {
        position: relative;
        flex-basis: 32%;
        min-height: 60px;
        padding: 6px 6px 6px 6px;
        // box-shadow: 1px 2px 3px RGBA(0, 0, 0, .05);
        // border-radius: 4px;
        // border: 1px solid var(--gray4);

        @media(max-width: 767px) {
          & {
            flex-basis: auto;
            width: 100% ;
          }
        }

        .photo {
          position: absolute;
          top: 0;
          left: 10px;
          bottom: 0;
          width: 60px;
          height: 60px;
          margin: auto;
          background-color: var(--gray4);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 15px;
          border: 1px solid var(--gray4);
        }

        h4 {
          margin-bottom: 8px;
          font-size: 1rem;
          font-weight: bold;
        }

        p {
          margin-bottom: 0;
          font-size: 1rem;
          color: #636363
        }
      }
    }

  }

  @media screen and (max-width : 991px) {
    .lecture .speakers .speaker {
      flex-basis: 100%;
    }
  }
}
.img_box {
  // min-width: 192px;
  min-height: 108px;
  padding: 0;
  justify-content: flex-end;
}
.thumbnail_style {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
.thumbnail_title_style {
  margin-top: 14px;
}

@media screen and (max-width : 576px) {
  .img_box {
    justify-content: center;
  }
}