<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
          <!-- <span class="vod-title-label"><i aria-hidden="true" class="icon-warning"></i><span class="slideX">본 세션은 평점이
              인정되지 않는 세션입니다.</span> </span> -->
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="category" *ngFor="let category of categories">
          <div class="category-title">{{category.categoryName}}</div>
          <div *ngIf="!category?.groups" class="vod-group">
            <div *ngFor="let vod of category.vods" class="row d-flex align-items-center">
              <div class="col-sm-4 col-md-4 col-lg-2 img_box d-flex align-items-center rounded">
                <img [src]="vod.thumbnailUrl" alt="thumbnail_img" class="rounded float-left thumbnail_style">
              </div>
              <div class="vod col-sm-8 col-md-8 col-lg-10 thumbnail_title_style">
                <div class="vod-info">
                  <div class="title" [ngClass]="{'title-click': vod.contents}" *ngIf="vod.title"
                    (click)="vod.contents ? goDetail(vod) : ''">{{vod.title}}
                    <svg *ngIf="vod.contents" width="1.4em" height="1.4em" viewBox="0 0 16 16"
                      class="icon-camera bi bi-camera-video-fill" fill="currentColor">
                      <path fill-rule="evenodd"
                        d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                    </svg>
                  </div>
                  <div class="description" *ngIf="vod.description">{{vod.description}}</div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers">
                    <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
                    <p *ngIf="speaker.company">{{speaker.company}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="category.groups">
            <div class="vod-group" *ngFor="let vodList of category.groups">
              <div *ngFor="let vod of vodList" class="d-flex align-items-center">
                <div class="col-12 col-lg-2 col-md-3 img_box d-flex justify-content-center">
                  <img src="assets/img/thumbnail_temp.jpg" alt="thumbnail_img" class="rounded float-left thumbnail_style img-fluid">
                </div>
                <div class="vod col-12 col-lg-10 col-md-9">
                  <div class="vod-info">
                    <div class="title" *ngIf="vod.title" [ngClass]="{'title-click': vod.contents}"
                      (click)="vod.contents ? goDetail(vod) : ''">{{vod.title}}
                      <svg *ngIf="vod.contents" width="1.4em" height="1.4em" viewBox="0 0 16 16"
                        class="icon-camera bi bi-camera-video-fill" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                      </svg>
                    </div>
                    <div class="description" *ngIf="vod.description">{{vod.description}}</div>
                  </div>
                  <div class="speakers" *ngIf="vod.speakers">
                    <div class="speaker" *ngFor="let speaker of vod.speakers">
                      <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
                      <p *ngIf="speaker.company">{{speaker.company}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </article>
  </div>
</div>
